.navbar-light .navbar-toggler,
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: hsla(0, 0%, 0%,1)
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: hsla(0,0%,100%,1)
    }
  }
}

.dropdown-toggle::after{
  margin-left: 0;
}

// .navbar {
//   min-height: 125px;
// }

// .navbar-brand{
//   position: absolute;
//   left: calc(50% - (150px/2));
//   top: 0;

//   width: 150px;
//   height: 125px;

//   margin-right: 0;
// }