.hero-image {
  min-height: 630px;
  background-size: cover;
  color: white;

  h2 {
    font-family: $font-body;
  }
}

@include media-breakpoint-down(sm) {
  .hero-image {
    background-position-x: -100px;
  }
}

@include media-breakpoint-down(xs) {
  .h1{
    font-size: 1.25rem;
  }

  .lead {
    font-size: 1rem;
  }
}
