.banner-image {
  min-height: 450px;
  background-size: cover;
  color: white;

  h3 {
    font-family: $font-body;
  }

  a{
    color: inherit;
    text-decoration: underline;
    
    &:hover{
      color: inherit;
    }
  }
}

@include media-breakpoint-down(sm) {
  .banner-image {
    height: 250px;
  }
}


