.plan-box{
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0.5625rem 1.125rem 0 rgba(0, 0, 0, 0.21);

  .btn{
    margin: 2rem 0; 
  }
}

.mask-box{
  width: 100%;
  height: 33%;
  min-height: 250px;
  clip-path: inset(0 0 0 0);

  .no-shavers{
    top: 5rem;
    position: relative;
    color: #01393d;
  }
  .shaver{
    width: 10rem;
    margin-top: 7rem;
    position: relative;
  }
  .corner-ribbon{
    top: 40px;
    left: -55px;
    transform: rotate(-35deg);
    width: 300px;
    background: #01393d;
    position: absolute;
    text-align: center;
    line-height: 45px;
    color: white;
  }
}

.description{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

