.specifikationer {
  background-color: #f2f2f2;

  .icons{
    margin-left: -10px;
    svg {
      max-width: 50px;
    }
  }

  ul {
    padding-left: 1.1rem;
    list-style-type: none;
    
    > li{
      text-indent: -15px;
    }

    > li:before {
      content: '- ';
      text-indent: -15px;
    }
  }
}