.banner-image--hidden {
  min-height: 450px;
  background-size: cover;
  background-position: bottom;
  // color: white;

  h3 {
    font-family: $font-body;
  }

  .btn{
    color: white;
    text-decoration: none;
  }
  
  a{
    color: inherit;
    text-decoration: underline;
    
    &:hover{
      color: inherit;
    }
  }
}

@include media-breakpoint-down(sm) {
  .banner-image--hidden {
    // height: 250px;
    min-height: 0;
    background-image: none !important;
  }
}

// @include media-breakpoint-down(sm) {
//   .hero-image {
//     background-image: none !important;
//     height: 300px;
//     color: black;
//   }
// }


