// Product Page
.money {
  color: #111
}

.product-image{
  margin-bottom: 1rem;
  .responsive-image__wrapper{
    margin-bottom: .5rem;
  }
}

@include media-breakpoint-down(lg) {
  .product-image {
    max-width: 100%;
    padding: 0;
  }

  .product-container {
    max-width: 100%;
  }
}

.product-single__thumbnail-image {
  margin: .5rem;

  &:first-child{
    margin-left:0;
  }

  &:last-child{
    margin-right:0;
  }
}
