<div class="specifikationer">
<div class="container py-3 py-md-4">
    <h3 class="text-center">Specifikationer</h3>
  <br>
    <div class="row">
      <div class="col-sm-4">
        <h4>Barberblade</h4>
        <ul>
          <li>Stor afstand mellem skær, nemme at rengøre</li>
          <li>Lille barberhoved, kan strabe under næsen</li>
          <li>Frilagt: ekstra blad på bagsiden</li>
          <li>Robust konstruktion</li>
          <li>6 skarpe skær</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Håndtag</h4>
        <ul>
          <li>Ergonomisk metalhåndtag</li>
          <li>Tekstureret gummigreb</li>
          <li>Afbalanceret vægt</li>
        </ul>
      </div>
      {%- comment -%} FJERN COMMENT NÅR NY PRØVEPAKKE MED ETUI LANCERES + TILFØJ "ETUI" I PRODUKTTEKST OG ÆNDRE PRIS TIL 49!
      <div class="col-sm-4">
        <h4>Etui</h4>
        <ul>
          <li>Fremstillet af 100% silikone</li>
          <li>Beskytter din skraber</li>
          <li>God at have med på rejsen</li>
        </ul>
      </div>
      {%- endcomment -%}
    </div>
  </div>
</div>

