<div class="specifikationer">
<div class="container py-3 py-md-4">
    <h3 class="text-center">Specifikationer</h3>
  <br>
    <div class="row">
      <div class="col-sm-4">
        <h4>Egenskaber</h4>
        <ul>
          <li>Antibakterielle</li>
          <li>Svedtransporterende</li>
          <li>Ultrabløde</li>
          <li>Sømløse</li>
          <li>Fleksible</li>
          <li>Slidstærke</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Materiale</h4>
        <ul>
          <li>77,2% Modal</li>
          <li>20% Nylon</li>
          <li>2,8% Elastan</li>
          <li>Nanosølv</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Vask</h4>
        <div class="icons">
          {% include 'icon-vaskemaerke-1' %}
          {% include 'icon-vaskemaerke-2' %}
          {% include 'icon-vaskemaerke-3' %}
          {% include 'icon-vaskemaerke-4' %}
          {% include 'icon-vaskemaerke-5' %}
        </div>
       <div class="col-sm-16">
        <ul>
          <li>Kan vaskes ved op til 60 grader.</li>
          </ul>
         </div>
      </div>
    </div>
  </div>
</div>
