{% include 'trustpilot' %}

{% schema %}
  {
    "name": "Trustpilot lille widget",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Bagground color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "presets": [{
        "name": "Trustpilot lille widget",
        "category": "Text"
    }]
  }
{% endschema %}
